<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Refugee Data Visualizations</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
  
  <!-- <link href="../css/style.css" rel="stylesheet"> -->
</head>

<body style="background-image: url('Refugee.jpg');font-family: 'Trirong', serif';">
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://asylumseekersapp.herokuapp.com/">Refugee Data
            <!-- <img class="nav-ref" src="Images/Refugee.jpg"> -->
          </a>
          <a href=".././geo.html" class="btn">
            <i class='fas fa-globe-americas' style='font-size:24px;color:rgb(52, 177, 194)'></i>
          </a>
          <!-- <div style="float:right"><button class='pull-right' style='font-size:24px;'>GeoMap<i class='fas fa-globe'></i></button></div> -->
          
        </div>
      </div>
    </nav>
    <!-- <div class="hero text-center" >
      
    </div> -->
    <div class="container">
      <div class="row" style="background-color: #008080;margin-bottom:20px;opacity:0.5;">
        <div class="hero text-center">
          <p><h1>Refugee Data</h1></p>
          <h3 style="text-decoration: underline;">Around the World</h3>
          <h4> Every human being deserves a life free from persecution and discrimination. For over half a century, UNHCR has helped millions of people to restart their lives. They include refugees, returnees, stateless people, the internally displaced and asylum-seekers.</h4>
          <h4>The dataset includes data on millions of people over the years seeking a safe place to live. This is used to prepare for future needs in terms of supplies and planning the expenses in case of adversities like war or other calamities. The data was analyzed to arrive at the countries that opened their doors to asylumseekers over the years. The dataset analyzes data between 2001 and 2016. </h4>
        </div>
      </div>
      <div class="row margin-top-50">
        <div class="col-md-2"  style="margin-top: 60px; position: fixed; z-index: 1030;background-color:#008080;opacity:0.5;width:10%;">
          <label for="date"><h4>Year</h4></label>
          <select id="selDataset" onchange="optionChanged(this.value)" style="color: black;"></select>
        </div>
        <div class="col-md-offset-2 col-md-10">
          <div id="mf_bar" style="opacity: 75%;"></div>
        </div>
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-offset-2 col-md-10" >
          <div id="bubble" style="opacity: 75%;"></div>
        </div>
      </div>
      <div class="row" style="margin-top: 50px;;">
        <div class="col-md-offset-2 col-md-10">
          <div id="top_bar" style="opacity: 75%;"></div>
        </div>
      </div>
    </div>
  </div>
        <!-- <div class="col-md-2"></div>
          <div id="mf_bar"></div>
        </div> -->
        <!-- <div class="col-md-10">
          <div id="table-area" class="">
            <table id="ufo-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Date</th>
                  <th class="table-head">City</th>
                  <th class="table-head">State</th>
                  <th class="table-head">Country</th>
                  <th class="table-head">Shape</th>
                  <th class="table-head">Duration</th>
                  <th class="table-head">Comments</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div> -->
    <footer class="footer">
      <span class="bottom">Refugee World Data</span>
    </footer>
  </div>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="js/data.js"></script>
  <script src="js/app.js"></script> -->
  <script src="../static/js/plots.js"></script>
  
  <!-- <script src="/app.py"></script> -->
  <!-- <script src="localhost/api/demographics"></script> -->
</body>

</html>